.main {
  background-color: #EEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.author {
  position: absolute;
  text-align: center;
  font-family: "Forum", serif;
  top: 5px;
}

.author p {
  margin: 0;
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-size: 12px
}

.infoSection {
  background-color: #E8D5C4;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: center;
}

.infoCard {
  background-color: #FFF1DC;
  transform: translateY(130px);
  width: 90%;
  box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06);
  border-radius: 1rem;
  padding: 1rem 0;
}

.infoCard h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.infoCard button {
  background-color: #3A98B9;
  color: #fff;
  padding: 12px 32px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: 1px solid #3A98B9;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5 ease;
}

.infoCard button:active {
  background-color: #307E9A;
}

.dateInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 20px;
}

.dateInput label {
  margin-bottom: 5px;
}

.dateInput input {
  max-width: 200px;
  font-size: 24px;
  font-family: "Forum", serif;
}

.matrixWrapper {
  padding-top: 140px;
  width: 100%;
}

.info {
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
}

.info p {
  margin: 0;
  padding: 3px 10px;
  text-align: left;
}

.noResults {
  text-align: center;
  font-size: 24px;
  padding-top: 150px;
}

.matrixGrid {
  padding: 0 5px;
}

.fateNumber {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Yeseva One", serif;
  padding-top: 5px;
}

.fateNumber span {
  font-size: 1.6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  justify-content: center;
  padding: 1rem 0;
  gap: 10px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0.375rem;
  background-color: #fff;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.cardIcon {
  text-align: center;
}

.cardBody {
  font-size: 1.2rem;
  font-family: "Yeseva One", serif;
  color: #307E9A;
}

@media only screen and (min-width: 768px) {
  .infoCard {
    width: 75%;
  }

  .matrixWrapper {
    width: 75%;
  }
}
