.main {
  background-image: repeating-linear-gradient(0deg, rgba(40, 121, 80, 0.11) 0px, rgba(40, 121, 80, 0.11) 1px, transparent 1px, transparent 21px), repeating-linear-gradient(90deg, rgba(40, 121, 80, 0.11) 0px, rgba(40, 121, 80, 0.11) 1px, transparent 1px, transparent 21px), linear-gradient(90deg, rgb(238, 238, 238), rgb(238, 238, 238));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.author {
  position: absolute;
  text-align: center;
  font-family: "Forum", serif;
  top: 5px;
}

.author p {
  margin: 0;
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-size: 12px
}

.infoSection {
  background-color: #73A9AD;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: center;
}

.infoCard {
  background-color: #F5F0BB;
  transform: translateY(130px);
  width: 90%;
  box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, .15), 0 8px 9px -5px hsla(0, 0%, 8%, .06);
  border-radius: 1rem;
  padding: 1rem 0;
}

.infoCard h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

.infoCard button {
  background-color: #287950;
  color: #fefefe;
  padding: 12px 32px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: 1px solid #287950;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5 ease;
}

.infoCard button:active {
  background-color: #236846;
}

.dateInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 20px;
}

.dateInput label {
  margin-bottom: 5px;
}

.dateInput input {
  max-width: 200px;
  font-size: 24px;
  font-family: "Forum", serif;
}

.matrixWrapper {
  padding-top: 140px;
  width: 100%;
}

.info {
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
}

.info p {
  margin: 0;
  padding: 3px 10px;
  text-align: left;
}

.noResults {
  text-align: center;
  font-size: 24px;
  padding-top: 150px;
}

.matrixGrid {
  padding: 0 5px;
}

.fateNumber {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Yeseva One", serif;
  padding-top: 5px;
}

.fateNumber span {
  font-size: 1.6rem;
}

.grid {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  justify-content: center;
  padding: 1rem 0;
}

.gridColumn {
  display: flex;
  flex-direction: column;
}

.gridColumn>div {
  height: 60px;
  padding: 10px;
}

.card,
.cardLong {
  background-color: #fefefe;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  outline: 1px solid #eee;
  box-shadow: 0 0 1px rgba(40, 41, 61, .08), 0 .5px 2px rgba(96, 97, 112, .16);
}

.cardLong {
  letter-spacing: -1px;
}

.cardIcon {
  text-align: center;
}

.cardBody {
  font-size: 1.2rem;
  font-family: "Yeseva One", serif;
  color: #236846;
}

@media only screen and (min-width: 768px) {
  .infoCard {
    width: 75%;
  }

  .info p {
    text-align: center;
  }

  .matrixWrapper {
    width: 75%;
  }
}
